<h2>{{'proofOfDeliveryManage.managePod' | message}}</h2>
<section class="openlmis-table-container">
    <form ng-submit="vm.loadOrders()">
        <openlmis-facility-program-select
            is-supervised="vm.isSupervised"
            program="vm.program"
            facility="vm.facility"
            module="'proof-of-delivery-manage'">
        </openlmis-facility-program-select>
        <input type="submit" value="{{'proofOfDeliveryManage.search' | message}}"/>
    </form>
    <table>
        <caption ng-if="vm.pods && !vm.pods.length">
            {{'proofOfDeliveryManage.noPodsFound' | message}}
        </caption>
        <caption ng-if="vm.programs && !vm.programs.length">
            {{'proofOfDeliveryManage.noProgramAvailable' | message}}
        </caption>
        <caption ng-if="vm.requestingFacilities && !vm.requestingFacilities.length && !vm.programs.length">
            {{'proofOfDeliveryManage.noFacilityAvailable' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'proofOfDeliveryManage.orderNumber' | message}}</th>
                <th>{{'proofOfDeliveryManage.supplyingDepot' | message}}</th>
                <th>{{'proofOfDeliveryManage.facility' | message}}</th>
                <th>{{'proofOfDeliveryManage.program' | message}}</th>
                <th>{{'proofOfDeliveryManage.period' | message}}</th>
                <th>{{'proofOfDeliveryManage.startDate' | message}}</th>
                <th>{{'proofOfDeliveryManage.endDate' | message}}</th>
                <th>{{'proofOfDeliveryManage.orderDate' | message}}</th>
                <th>{{'proofOfDeliveryManage.emergency' | message}}</th>
                <th class="col-sticky sticky-right">{{'proofOfDeliveryManage.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in vm.pods">
                <td>{{order.orderCode}}</td>
                <td>{{order.supplyingFacility.name}}</td>
                <td>{{order.facility.code}} - {{order.facility.name}}</td>
                <td>{{order.program.name}}</td>
                <td>{{order.processingPeriod.name}}</td>
                <td>{{order.processingPeriod.startDate | openlmisDate}}</td>
                <td>{{order.processingPeriod.endDate | openlmisDate}}</td>
                <td>{{order.createdDate | openlmisDate}}</td>
                <td class="col-emergency">
                    <i ng-class="{'icon-ok': order.emergency}"></i>
                </td>
                <td>
                    <button class="primary" ng-click="vm.openPod(order.id)">
                        {{'proofOfDeliveryManage.viewOrder' | message}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination list="vm.pods"></openlmis-pagination>
</section>
