<h2 ng-show="vm.facility && vm.program">
    {{'proofOfDeliveryManage.managePodsWithDetails' | message: { 'facility': vm.facility.name, 'program': vm.program.name} }}
</h2>
<h2 ng-hide="vm.facility && vm.program">{{'proofOfDeliveryManage.managePods' | message}}</h2>
<form class="sidebar" ng-submit="vm.loadOrders()">
    <openlmis-facility-program-select
        is-supervised="vm.isSupervised"
        program="vm.program"
        facility="vm.facility"
        module="'proof-of-delivery-manage'">
    </openlmis-facility-program-select>
    <input type="submit" value="{{'proofOfDeliveryManage.search' | message}}"/>
</form>
<section class="openlmis-table-container">
    <table>
        <caption ng-if="vm.pods && !vm.pods.length">
            {{'proofOfDeliveryManage.noPodsFound' | message}}
        </caption>
        <caption ng-if="vm.programs && !vm.programs.length">
            {{'proofOfDeliveryManage.noProgramAvailable' | message}}
        </caption>
        <caption ng-if="vm.requestingFacilities && !vm.requestingFacilities.length && !vm.programs.length">
            {{'proofOfDeliveryManage.noFacilityAvailable' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'proofOfDeliveryManage.orderNumber' | message}}</th>
                <th>{{'proofOfDeliveryManage.orderStatus' | message}}</th>
                <th>{{'proofOfDeliveryManage.supplyingDepot' | message}}</th>
                <th>{{'proofOfDeliveryManage.program' | message}}</th>
                <th>{{'proofOfDeliveryManage.period' | message}}</th>
                <th>{{'proofOfDeliveryManage.orderDate' | message}}</th>
                <th>{{'proofOfDeliveryManage.emergency' | message}}</th>
                <th class="col-sticky sticky-right">{{'proofOfDeliveryManage.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in vm.pods">
                <td>{{order.orderCode}}</td>
                <td>{{order.status}}</td>
                <td>{{order.supplyingFacility.name}}</td>
                <td>{{order.program.name}}</td>
                <td>{{order.processingPeriod.name}}</td>
                <td>{{order.createdDate | openlmisDate}}</td>
                <td class="col-emergency">
                    <i ng-class="{'icon-ok': order.emergency}"></i>
                </td>
                <td>
                    <button ng-click="vm.openPod(order.id)">
                        {{'proofOfDeliveryManage.confirm' | message}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination list="vm.pods"></openlmis-pagination>
</section>
