<h2>{{'orderDetails.orderDetails' | message}}</h2>
<aside class="order-cce-status">
    <p>{{'orderDetails.cceStatus' | message}}</p>
    <facility-cce-status facility="vm.order.requestingFacility"></facility-cce-status>
</aside>
<dl>
    <dt>{{'orderDetails.order' | message}}</dt>
    <dd>{{vm.order.orderCode}}<span class="emergency" ng-if="vm.order.emergency"> / {{'orderDetails.emergency' | message}}</span></dd>
    <dt>{{'orderDetails.status' | message}}</dt>
    <dd>{{vm.order.status}}<dd>
    <dt>{{'orderDetails.facility' | message}}</dt>
    <dd>{{vm.order.requestingFacility.name}}<dd>
    <dt>{{'orderDetails.facilityCode' | message}}</dt>
    <dd>{{vm.order.requestingFacility.code}}<dd>
    <dt>{{'orderDetails.program' | message}}</dt>
    <dd>{{vm.order.program.name}}<dd>
    <dt>{{'orderDetails.type' | message}}</dt>
    <dd>{{vm.order.requestingFacility.type.name}}<dd>
    <dt>{{'orderDetails.dateCreated' | message}}</dt>
    <dd>{{vm.order.createdDate | openlmisDate}}<dd>
    <dt>{{'orderDetails.lastUpdated' | message}}</dt>
    <dd>{{vm.order.lastUpdatedDate | openlmisDate}}<dd>
    <dt>{{'orderDetails.lastUpdatedBy' | message}}</dt>
    <dd>{{vm.order.lastUpdater.username | openlmisDate}}<dd>
</dl>
<section class="openlmis-table-container">
    <table>
        <thead>
        <tr>
            <th>{{'orderDetails.productCode' | message}}</th>
            <th>{{'orderDetails.product' | message}}</th>
            <th>{{'orderDetails.lotCode' | message}}</th>
            <th>{{'orderDetails.vvmStatus' | message}}</th>
            <th>{{'orderDetails.expiryDate' | message}}</th>
            <th>{{'orderDetails.availableSoh' | message}}</th>
            <th>{{'orderDetails.orderQuantity' | message}}</th>
            <th>{{'orderDetails.fillQuantity' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="item in vm.order.orderLineItems">
            <td>{{item.orderable.productCode}}</td>
            <td>{{item.orderable.fullProductName}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{item.orderedQuantity}}</td>
            <td>{{item.filledQuantity}}</td>
        </tr>
        <tr ng-repeat-end ng-repeat="summary in item.summaries">
            <td></td>
            <td></td>
            <td>{{summary.lot | lotCode}}</td>
            <td>{{summary.extraData.vvmStatus}}</td>
            <td>{{summary.lot.expirationDate | openlmisDate}}</td>
            <td>{{summary.stockOnHand}}</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</section>
