span.emergency {
	font-weight: bold;
}

.order-cce-status {
	padding: 0.5em;

	& > p {
		&:first-of-type {
			font-weight: bold;
		}
	}
}

td.openlmis-empty-row {
	@include icon("exclamation-circle");
	&:before {
		color: $brand-danger;
		margin-right: 0.5em;
	}
}
