<h2>{{'shipmentView.title' | message:{orderCode:vm.order.orderCode} }}</h2>
<aside class="requisition-info">
    <div ng-if="vm.order.emergency" class="emergency">
        {{'shipmentView.emergency' | message}}
    </div>
    <ul>
      <li>
        <strong>{{'shipmentView.status' | message}}</strong>
        {{vm.order.status}}
      </li>
      <li>
        <strong>{{'shipmentView.dateCreated' | message}}</strong>
        {{vm.order.createdDate | openlmisDate}}
      </li>
      <li>
        <strong>{{'shipmentView.program' | message}}</strong>
        {{vm.order.program.name}}
      </li>
      <li>
        <strong>{{'shipmentView.facility' | message}}</strong>
        {{vm.order.requestingFacility.name}}
      </li>
      <li>
        <strong>{{'shipmentView.cceStatus' | message}}</strong>
        <facility-cce-status facility="vm.order.requestingFacility"></facility-cce-status>
      </li>
    </ul>
</aside>
<quantity-unit-toggle quantity-unit="vm.quantityUnit"></quantity-unit-toggle>
<section class="openlmis-table-container">
    <table>
        <thead>
        <tr>
            <th>{{'shipmentView.productCode' | message}}</th>
            <th>{{'shipmentView.product' | message}}</th>
            <th>{{'shipmentView.lotCode' | message}}</th>
            <th>{{'shipmentView.vvmStatus' | message}}</th>
            <th>{{'shipmentView.expiryDate' | message}}</th>
            <th>{{'shipmentView.availableSoh' | message}}</th>
            <th>{{'shipmentView.orderQuantity' | message}}</th>
            <th>{{'shipmentView.fillQuantity' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="item in vm.orderFulfillmentLineItems">
            <td>{{item.orderable.productCode}}</td>
            <td>{{item.orderable.fullProductName}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{vm.calculateQuantity(item.orderedQuantity, item.orderable.netContent)}}</td>
            <td>{{item.calculateFillQuantity()}}</td>
        </tr>
        <tr ng-repeat-end ng-repeat="shipmentLineItem in item.shipmentLineItems">
            <td></td>
            <td></td>
            <td>{{shipmentLineItem.lot | lotCode}}</td>
            <td>{{shipmentLineItem.summary.extraData.vvmStatus}}</td>
            <td>{{shipmentLineItem.lot.expirationDate | openlmisDate}}</td>
            <td>{{vm.calculateQuantity(shipmentLineItem.summary.stockOnHand, item.orderable.netContent)}}</td>
            <td></td>
            <td>
                <input ng-show="vm.isEditable()"
                    positive-integer
                    ng-model="shipmentLineItem.quantityShipped"
                    ng-change="shipmentLineItem.validate()"
                    openlmis-invalid="{{shipmentLineItem.errors.quantityShipped | message}}"/>
                <div ng-show="!vm.isEditable()">{{shipmentLineItem.quantityShipped}}</div>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<div ng-show="vm.isEditable()" class="openlmis-toolbar">
    <div class="button-group primary">
        <button ng-show="vm.shipment.canBeConfirmed()" class="primary" ng-click="vm.confirmShipment()">{{'shipmentView.confirmShipment' | message}}</button>
        <button ng-show="vm.shipment.id" class="danger" ng-click="vm.deleteShipment()">{{'shipmentView.deleteDraft' | message}}</button>
    </div>
    <button ng-show="vm.shipment.canBeConfirmed()" ng-click="vm.saveShipment()">{{'shipmentView.saveDelete' | message}}</button>
    <button ng-show="vm.shipment.canBeConfirmed()" ng-show="vm.isEditable()" ng-click="vm.saveAndPrint()" >{{'shipmentView.generatePickPackList' | message}}</button>
</div>
