<tr ng-if="fulfillingLineItems.length">
    <td>{{orderLineItem.orderable.fullProductName}}</td>
    <td>{{orderLineItem.orderable.dispensable.dispensingUnit}}</td>
    <td>{{orderLineItem.packsToShip}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr ng-repeat="fulfillingLineItem in fulfillingLineItems">
    <td></td>
    <td></td>
    <td></td>
    <td>{{fulfillingLineItem.lot.lotCode | lotCode}}</td>
    <td>{{fulfillingLineItem.quantityShipped}}</td>
    <td><input positive-integer ng-model="fulfillingLineItem.quantityAccepted"
        ng-change="fulfillingLineItem.updateQuantityRejected()"
        openlmis-invalid="{{fulfillingLineItem.validate().quantityAccepted | message}}"/></td>
    <td>{{fulfillingLineItem.quantityRejected}}</td>
    <td><input type="text" ng-model="fulfillingLineItem.notes"/></td>
</tr>
