<ng-include src="'proof-of-delivery-view/header.html'"></ng-include>
<div class="openlmis-table-container">
    <table class="openlmis-table">
        <thead>
            <tr>
                <th>{{'proofOfDeliveryView.productName' | message}}</th>
                <th>{{'proofOfDeliveryView.productUnit' | message}}</th>
                <th>{{'proofOfDeliveryView.quantityOrdered' | message}}</th>
                <th>{{'proofOfDeliveryView.lotCode' | message}}</th>
                <th>{{'proofOfDeliveryView.quantityShipped' | message}}</th>
                <th>{{'proofOfDeliveryView.quantityAccepted' | message}}</th>
                <th>{{'proofOfDeliveryView.quantityReturned' | message}}</th>
                <th>{{'proofOfDeliveryView.notes' | message}}</th>
            </tr>
        </thead>
        <tbody tbody-title="{{category}}">
            <tr ng-repeat="lineItem in vm.proofOfDelivery.proofOfDeliveryLineItems | orderBy : 'orderLineItem.orderable.fullProductName'">
                <td>{{lineItem.orderLineItem.orderable.fullProductName}}</td>
                <td>{{lineItem.orderLineItem.orderable.dispensable.dispensingUnit}}</td>
                <td>{{lineItem.orderLineItem.packsToShip}}</td>
                <td>{{lineItem.lot.lotCode}}</td>
                <td>{{lineItem.quantityShipped}}</td>
                <td><input positive-integer ng-model="lineItem.quantityReceived"
                    ng-change="lineItem.updateQuantityReturned()"
                    openlmis-invalid="{{lineItem.validate().quantityReceived | message}}"/></td>
                <td>{{lineItem.quantityReturned}}</td>
                <td><input type="text" ng-model="lineItem.notes"/></td>
            </tr>
        </tbody>
    </table>
</div>
<ng-include src="'proof-of-delivery-view/footer.html'"></ng-include>
<ng-include src="'proof-of-delivery-view/toolbar.html'"></ng-include>
